@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
            <i class="bi bi-speedometer2"></i> Dashboard
        </a>
    </li>
    
    @if ((await AuthorizationService.AuthorizeAsync(User, "Assets.View")).Succeeded)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-box"></i> Assets
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Assets" asp-action="Index">All Assets</a></li>
                <li><a class="dropdown-item" asp-controller="Assets" asp-action="Create">Add New Asset</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="Assets" asp-action="Compliance">Compliance Status</a></li>
            </ul>
        </li>
    }
    
    @if ((await AuthorizationService.AuthorizeAsync(User, "Policies.View")).Succeeded)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-file-earmark-text"></i> Policies
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Policies" asp-action="Index">All Policies</a></li>
                <li><a class="dropdown-item" asp-controller="Policies" asp-action="Create">Issue New Policy</a></li>
                <li><a class="dropdown-item" asp-controller="Policies" asp-action="Expiring">Expiring Soon</a></li>
            </ul>
        </li>
    }
    
    @if ((await AuthorizationService.AuthorizeAsync(User, "Compliance.View")).Succeeded)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Compliance" asp-action="Index">
                <i class="bi bi-shield-check"></i> Compliance
            </a>
        </li>
    }
    
    @if ((await AuthorizationService.AuthorizeAsync(User, "Reports.View")).Succeeded)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Reports" asp-action="Index">
                <i class="bi bi-bar-chart"></i> Reports
            </a>
        </li>
    }
    
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-gear"></i> Admin
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Admin" asp-action="Tenants">Tenants</a></li>
                <li><a class="dropdown-item" asp-controller="Admin" asp-action="Users">Users</a></li>
                <li><a class="dropdown-item" asp-controller="Admin" asp-action="Roles">Roles</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="Admin" asp-action="Settings">Settings</a></li>
            </ul>
        </li>
    }
</ul>